<!DOCTYPE html>
<html>
<head>
    <title>Generate Player</title>
</head>
<body>
    <h1>Generate Player</h1>
    <form action="/" method="post">
        <label for="country1">
            <img src="flag1.png" alt="France">
            <input type="radio" id="country1" name="country" value="France">
        </label>
        <label for="country2">
            <img src="flag2.png" alt="England">
            <input type="radio" id="country2" name="country" value="England">
        </label>
        <br><br>
        <input type="submit" value="Generate">
    </form>
</body>
</html>
